<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <!--主题和颜色-->
    <add key="Theme" value="BaseLight"/>
    <add key="Accent" value="Teal"/>
    <!--语言-->
    <add key="Language" value="zh-CN"/>
  </appSettings>
  
  
  
</configuration>