<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Demo.Properties.ProjectModule" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Demo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Demo.Properties.ProjectModule" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Demo.Properties.ProjectModule>
            <setting name="ProjectModules" serializeAs="String">
                <value>  Demo.PrimaryInfo.Module.dll  ;  eon fe aa.dll ;dfaef.dll; asdfa asd.dll  ;Module.PrimaryInfo.dll</value>
            </setting>
        </Demo.Properties.ProjectModule>
        <Demo.Properties.Settings>
            <setting name="Accent" serializeAs="String">
                <value>Teal</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>BaseLight</value>
            </setting>
            <setting name="Culture" serializeAs="String">
                <value>en</value>
            </setting>
        </Demo.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Demo.Properties.ProjectModule>
            <setting name="ProjectModulePath" serializeAs="String">
                <value>ProjectModule</value>
            </setting>
        </Demo.Properties.ProjectModule>
    </applicationSettings>
</configuration>